.banner {
    background-size: cover;
    margin-top: 70px;
    padding-top: 40px;
    padding-bottom: 20px;
    color: rgb(255, 255, 255);
}

.banner > img {
    max-height: 720px;
}

.content {
    padding: 70px;
}

.banner-buttons {
    margin-top: 20px;
    margin-bottom: 20px;
}

.button {
    padding: 10px 20px;
    background-color: transparent;
    border-radius: 5px;
    border-style: solid;
    border-color: white;
    margin-right: 3px;
    cursor: pointer;
    color: white;
    font-weight: 600;
}

.button:hover {
    border-color: rgba(41, 12, 12, 0.479);
}

h1{
    cursor: pointer;
    font-weight: 900;
    font-size: 40px;
}

.fade-bottom {
    height: 7.5rem;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61,rgb(0, 0, 0)));
}